<h1 class="productListTitle">Listado de Productos</h1>

<fieldset><legend><h4>Agregar nuevo producto</h4></legend>
<form>
    <label for="prodTitle">Nombre: </label><input type="text" id="prodTitle" name="prodTitle" />
    <br />
    <label for="prodDesc">Descripción: </label><textarea id="prodDesc" name="prodDesc" /></textarea>
    <br />
    <label for="prodPrice">Precio: </label><input type="text" id="prodPrice" name="prodPrice" />
    <br />
    <label for="prodStock">Stock: </label><input type="text" id="prodStock" name="prodStock" />
    <br />
    <label for="prodCode">Código: </label><input type="text" id="prodCode" name="prodCode" />
    <br />
    <label for="prodCategory">Categoría: </label><input type="text" id="prodCategory" name="prodCategory" />
    <br />
    <button onclick="uploadProduct()">Cargar producto</button>
</form>
</fieldset>

<fieldset><legend><h4>Agregar nuevo producto</h4></legend>
    <label for="deletedProdId">Id del producto a eliminar: </label><input type="text" id="deletedProdId" name="deletedProdId" />
    <br/>
    <button onclick="eraseProduct()">Eliminar producto</button>
</fieldset>

<h4>Los productos agregados son:</h4>

<div class="productListContainer">
    <ul id="productList">
        
    </ul>
</div>


<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>